
body {
    font-family: "Roboto", sans-serif;
    background-color: #082742;
    position: relative;
    padding-bottom: var(--footer-height);
  }
  /*navbar*/
  nav {
    margin-top: -11.5%;
    text-transform: uppercase;
    flex: 0 0 auto;
    padding: 2px 0;
    position: fixed;
    width: 100%;
    background: #202040;
    z-index: 100;
  }
  
  #banner {
    flex: 1 0 auto;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    margin: 0 5px;
  }
  
  nav ul li a {
    display: block;
    color: #b030b0;
    background: transparent;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: color 1s ease, background 1s ease, padding 1s ease;
  }
  
  nav ul li a:hover {
    color: #f5f5f5;
    padding-left: 60px;
    background: #b030b0;
  }
  
  #nav-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
  }
  
  #nav-top h3 {
    font-size: 30px;
    padding: 9px 20px;
    color: #b030b0;
    /* border: 3px solid; */
    border-bottom: 3px solid;
    border-radius: 30px;
    transition: color 2s ease, background 2s ease;
  }
  
  #nav-top h3:hover {
    background: #b030b0;
    color: #f5f5f5;
  }
  
  #menu-btn {
    padding: 5px;
    border: 2px solid #b030b0;
    cursor: pointer;
    align-self: center;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    height: 5px;
    width: 35px;
    background-color: #b030b0;
    margin: 5px 0;
    transition: transform 0.3s ease;
  }
  
  .turn .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }
  
  .turn .bar2 {
    opacity: 0;
  }
  
  .turn .bar3 {
    transform: rotate(45deg) translate(-7px, -8px);
  }
  
  @media screen and (min-width: 690px) {
    nav {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  
    #menu-btn {
      display: none;
    }
  
    nav ul {
      flex: 1 1 auto;
      display: flex !important;
      /*    important*/
      flex-wrap: wrap;
    }
  
    nav ul li {
      flex: 1 0 125px;
    }
  
    nav ul .icon {
      flex: 0 0 20px;
    }
  
    nav ul a {
      text-align: center;
    }
  
    nav ul a:hover {
      padding: 10px !important;
    }
  
    #nav-top {
      padding: 10px;
    }
  }  

.footer{
    height:30%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Grandstander", cursive;
  }
  
  .fab {
    text-shadow: 7px 7px 10px;
  }
  
  .fa-css3 {
    color: rgba(0, 0, 255, 0.774);
    transform: scale(10);
  }
  
  .fa-html5 {
    color: rgba(255, 166, 0, 0.774);
    transform: scale(10);
  }
  
  .fa-js-square {
    color: rgba(255, 255, 0, 0.774);
    text-shadow: 3px 2px 10px;
    transform: scale(10);
  }
  
  /* Footer contact us */
  footer {
    background-color: #010e28;
    position: fixed;
    padding: 1px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: var(--footer-height);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    box-sizing: initial;
  }
  
  .contact {
    width: fit-content;
    margin: auto;
  }
  
  .contact-img {
    display: inline;
    padding-top: 3px;
    padding-bottom: 6px;
    height: 35px;
    width: 35px;
    margin: 6px;
    animation: bttn 5s ease-in-out 1;
  }
  .contact-text {
    font-family: sans-serif;
    font-weight: normal;
    color: white;
    font-size: 12px;
    padding: 6px 0px 6px 0px;
    margin: 10px;
    text-align: center;
  }
  
/* about css */

.about0,
.about1,
.about2,
.about3 {
  margin-top:100px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:100px;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-family: "Aclonica";
  height: auto;
  width: auto;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #b030b0;
  padding: 40px;
  box-shadow: 20px 20px white;
  z-index: -1;
}

.about0 > p {
  animation: fadeInUp;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}
.about1 > p {
  animation: fadeInUp;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 2s;
}
.about2 > p {
  animation: fadeInUp;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 4s;
}
.about3 > p {
  animation: fadeInUp;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 6s;
}
.about {
  font-size: 3.5em;
  color: white;
  margin-top: 150px;
  font-weight: bold;
  text-align: center;
  z-index: -1;
  font-family:Aclonica;
}
.about .line {
  display: inline-block;
  line-height: 1em;
}
.pullreq {
  color: pink;
}

/* Countdown styling */

.li-countdown {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.li-countdown span {
  display: block;
  font-size: 4.5rem;
}
#skill-lang {
  background: url(./img/hack.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
}
@media screen and (max-width: 376px) {
  .about0,
  .about1,
  .about2,
  .about3 {
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-family: "Aclonica";
    height: auto;
    margin: 20px 20px;
    width: 220px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #b030b0;
    box-shadow: 10px 10px white;
    z-index: -1;
  }
  .about {
    margin-top: 70px;
  }
}

