*{
    color: white;
}
h2{
    padding: 1%;
    text-align: center;
}
i{
    padding: 1%;
    margin: 1%;
}
.fa-plus{
    color:white;
    background-color: #b030b0;
    border-radius: 20px;
}
.fa-plus:hover{
    cursor: pointer;
}
.ans{
    display: none;
    padding: 1%;
    background-color: #602080;
    border-radius:10px;
}
.ques{
    padding: 1%;
    background-color: #202060;
    font-size: 1.5rem;
}
.footer{
    height: 20%;
    background-color:#b030b0;
  }
  .contact-img{
    display: inline;
    padding-top: 3px;
    padding-bottom: 6px;
    height: 35px;
    width: 35px;
    margin:6px;
    animation: bttn 5s ease-in-out 1;
  }
  .contact-text{
    font-family: sans-serif;
    font-weight: normal;
    color: white;
    font-size: 12px;
    padding: 6px 0px 6px 0px;
    margin:10px;
    text-align: center;
  }
